.container{
    display: flex;
    justify-content: space-between;   
}
.logo{
    background-color: var(--bgSoft);
    border-radius: 5px;
    font-weight: 400;
    padding: 5px;
}
.text{
    background-color: var(--bgSoft);
    font-size: 12px;
    text-align: center;   
    padding: 5px;
    color: var(--textSoft);
    border-radius: 5px;
}
